<div class="card mb-2">
    <div class="card-body ms-3">
        
        <h5 class="card-title bg-primary text-light p-3">{{article.title}}</h5>
        <div class="card-header">
        Posted by {{user.user_name}} on {{article.created_at}}
        </div>
        <p class="card-text ps-4">{{article.content}}</p>
    </div>
</div>